# Testing Notebook 

This is a test notebook to play around with stuff

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('data\household_power_consumption.txt', sep=';', 
                 parse_dates={'date_time':['Date','Time']},
                 infer_datetime_format=True,
                 low_memory=False, na_values=['nan','?'],
                 index_col='date_time')

In [37]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
date_time,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [38]:
df.isnull().sum()

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [52]:
from pandas.tseries.offsets import DateOffset

null_indices = df[df['Global_active_power'].isnull()].index
print(null_indices)
surrounding_entries = df.loc[(null_indices[0] - DateOffset(minutes=2)):(null_indices[0]) + DateOffset(minutes=2)]
print(surrounding_entries)

DatetimeIndex(['2006-12-21 11:23:00', '2006-12-21 11:24:00',
               '2006-12-30 10:08:00', '2006-12-30 10:09:00',
               '2007-01-14 18:36:00', '2007-01-28 17:13:00',
               '2007-02-22 22:58:00', '2007-02-22 22:59:00',
               '2007-03-25 17:52:00', '2007-04-28 00:21:00',
               ...
               '2010-09-28 19:04:00', '2010-09-28 19:05:00',
               '2010-09-28 19:06:00', '2010-09-28 19:07:00',
               '2010-09-28 19:08:00', '2010-09-28 19:09:00',
               '2010-09-28 19:10:00', '2010-09-28 19:11:00',
               '2010-09-28 19:12:00', '2010-10-24 15:35:00'],
              dtype='datetime64[ns]', name='date_time', length=25979, freq=None)
                     Global_active_power  Global_reactive_power  Voltage  \
date_time
2006-12-21 11:21:00                0.242                    0.0   241.67
2006-12-21 11:22:00                0.244                    0.0   242.29
2006-12-21 11:23:00                  NaN                    NaN      NaN
2006-12-21 11:24:00                  NaN                    NaN      NaN
2006-12-21 11:25:00                0.246                    0.0   241.74

                     Global_intensity  Sub_metering_1  Sub_metering_2  \
date_time
2006-12-21 11:21:00               1.0             0.0             0.0
2006-12-21 11:22:00               1.0             0.0             0.0
2006-12-21 11:23:00               NaN             NaN             NaN
2006-12-21 11:24:00               NaN             NaN             NaN
2006-12-21 11:25:00               1.0             0.0             0.0

                     Sub_metering_3
date_time
2006-12-21 11:21:00             0.0
2006-12-21 11:22:00             0.0
2006-12-21 11:23:00             NaN
2006-12-21 11:24:00             NaN
2006-12-21 11:25:00             0.0

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64